{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
    <div class="card-top"></div>
    <div class="card">        
        <h1 class="title"><span>Swift App</span>Error 500 <div class="msg">Something's broken :-(</div></h1>
        <div class="col-md-12 text-center">
            <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-search"></i> </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="search" placeholder="Search..." required="">                    
                </div>
            </div>
             <div> <a class="btn btn-raised g-bg-cyan waves-effect" href="index.html">GO TO HOMEPAGE</a> </div>           
        </div>
    </div>    
</div>
<div class="theme-bg"></div>
{% endblock %}