{% extends 'registration/base.html' %}
{% block content %}

<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><span>Swift App</span>Forgot Password? <div class="msg">Enter your e-mail address below to reset your password.</div></h1>
        <div class="col-md-12">
            <form id="sign_in" method="POST">
                <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-email"></i> </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                    </div>
                </div>              
                <div class="row">                    
                    <div class="col-sm-12 text-center">
                        <a href="index.html" class="btn btn-raised waves-effect g-bg-cyan">RESET MY PASSWORD</a>
                    </div>
                    <div class="col-sm-12 text-center"> <a href="/accounts/login/">Sign In!</a> </div>
                </div>
            </form>
        </div>
    </div>    
</div>

<div class="theme-bg"></div>

{% endblock %}