{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <title>{% block title %} :: Swift - Hospital :: {% endblock title %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet" />
  </head>

  <body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
      <div class="loader">
        <div class="preloader">
          <div class="spinner-layer pl-cyan">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <p>Please wait...</p>
      </div>
    </div>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- #Float icon -->
    {% block float_icon %} {% comment %}
    <ul class="mfb-component--br mfb-zoomin">
      <li class="mfb-component__wrap">
        <a
          href="{% url 'add_patient' %}"
          data-mfb-label="Add new patient"
          class="mfb-component__button--main g-bg-cyan"
        >
          <i class="mfb-component__main-icon--resting zmdi zmdi-plus"></i>
        </a>
      </li>
    </ul>
    {% endcomment %} {% endblock float_icon %}
    <!-- #Float icon -->

    <!-- Top Bar -->
    <nav class="navbar clearHeader">
      <div class="col-12">
        <div class="navbar-header">
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="">Swift App</a>
        </div>
      </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        {% block user_info %}
        <!-- User Info -->
        <div class="user-info">
          <div class="admin-image">
            <img src="{{doctor.profile_photo.url}}" alt="" />
          </div>
          <div class="admin-action-info">
            <span>Welcome</span>
            <h3>{{doctor.title}} {{doctor.name}}</h3>
            <ul>
              <li>
                <a
                  data-placement="bottom"
                  title="Go to Inbox"
                  href="mail-inbox.html"
                  ><i class="zmdi zmdi-email"></i
                ></a>
              </li>
              <li>
                <a
                  data-placement="bottom"
                  title="Go to Profile"
                  href="{% url 'myProfile' %}"
                  ><i class="zmdi zmdi-account"></i
                ></a>
              </li>
              <li>
                <a
                  data-placement="bottom"
                  title="Full Screen"
                  href="{% url 'locked' %}"
                  ><i class="zmdi zmdi-sign-in"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="quick-stats">
            <h5>Today Report</h5>
            <ul>
              <li>
                <span>16<i>Patient</i></span>
              </li>
              <li>
                <span>20<i>Panding</i></span>
              </li>
              <li>
                <span>04<i>Visit</i></span>
              </li>
            </ul>
          </div>
        </div>
        {% endblock user_info %}
        <!-- #User Info -->

        {% block menu %}
        <!-- Menu -->
        <div class="menu">
          <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li {% if request.resolver_match.url_name == 'myProfile' %}class="active open"{% endif %}>
              <a href="{% url 'myProfile' %}">
                <i class="zmdi zmdi-account"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li {% if request.resolver_match.url_name == 'dashboard' %}class="active open"{% endif %}>
              <a href="{% url 'dashboard' %}">
                <i class="zmdi zmdi-home"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li {% if request.resolver_match.url_name == 'appointments' %}class="active open"{% endif %}>
              <a href="{% url 'appointments' %}">
                <i class="zmdi zmdi-calendar-check"></i>
                <span>Appointment</span>
              </a>
            </li>
            <li {% if request.resolver_match.url_name == 'allPatients' %}class="active oprn"{% endif %}>
              <a href="{% url 'allPatients' %}">
                <i class="zmdi zmdi-account-o"></i>
                <span>Patients</span>
              </a>
            </li>
            <li {% if request.resolver_match.url_name == 'reports' %}class="active open"{% endif %}>
              <a href="{% url 'reports' %}">
                <i class="zmdi zmdi-file-text"></i>
                <span>Reports</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- #Menu -->
        {% endblock menu %}
      </aside>
      <!-- #END# Left Sidebar -->
    </section>

    {% block contents_section %}
    <section class="content home">
      <div class="container-fluid">
        <div class="block-header">
          <h2>Dashboard</h2>
          <small class="text-muted"></small>
        </div>

        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
              <div class="icon"><i class="zmdi zmdi-account col-blue"></i></div>
              <div class="content">
                <div class="text">New Patient</div>
                <div class="number">27</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
              <div class="icon">
                <i class="zmdi zmdi-account col-green"></i>
              </div>
              <div class="content">
                <div class="text">OPD Patient</div>
                <div class="number">12</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
              <div class="icon"><i class="zmdi zmdi-bug col-blush"></i></div>
              <div class="content">
                <div class="text">Today's Operations</div>
                <div class="number">05</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box-4 hover-zoom-effect">
              <div class="icon"><i class="zmdi zmdi-balance col-cyan"></i></div>
              <div class="content">
                <div class="text">Hospital Earning</div>
                <div class="number">$3,540</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>Hospital Survey</h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li><a href="javascript:void(0);">Action</a></li>
                      <li><a href="javascript:void(0);">Another action</a></li>
                      <li>
                        <a href="javascript:void(0);">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <canvas id="line_chart" height="70"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="header">
                <h2>New Patient <small>18% High then last month</small></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li><a href="javascript:void(0);">Action</a></li>
                      <li><a href="javascript:void(0);">Another action</a></li>
                      <li>
                        <a href="javascript:void(0);">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="stats-report">
                  <div class="stat-item">
                    <h5>Overall</h5>
                    <b class="col-indigo">70.40%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Montly</h5>
                    <b class="col-indigo">25.80%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Day</h5>
                    <b class="col-indigo">12.50%</b>
                  </div>
                </div>
                <div
                  class="sparkline"
                  data-type="line"
                  data-spot-Radius="3"
                  data-highlight-Spot-Color="rgb(63, 81, 181)"
                  data-highlight-Line-Color="#222"
                  data-min-Spot-Color="rgb(233, 30, 99)"
                  data-max-Spot-Color="rgb(63, 81, 181)"
                  data-spot-Color="rgb(63, 81, 181, 0.7)"
                  data-offset="90"
                  data-width="100%"
                  data-height="100px"
                  data-line-Width="1"
                  data-line-Color="rgb(63, 81, 181, 0.7)"
                  data-fill-Color="rgba(63, 81, 181, 0.3)"
                >
                  6,1,3,3,6,3,2,2,8,2
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="header">
                <h2>Heart Surgeries <small>18% High then last month</small></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li><a href="javascript:void(0);">Action</a></li>
                      <li><a href="javascript:void(0);">Another action</a></li>
                      <li>
                        <a href="javascript:void(0);">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="stats-report">
                  <div class="stat-item">
                    <h5>Overall</h5>
                    <b class="col-blue-grey">80.40%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Montly</h5>
                    <b class="col-blue-grey">13.00%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Day</h5>
                    <b class="col-blue-grey">9.50%</b>
                  </div>
                </div>
                <div
                  class="sparkline"
                  data-type="line"
                  data-spot-Radius="3"
                  data-highlight-Spot-Color="rgb(233, 30, 99)"
                  data-highlight-Line-Color="#222"
                  data-min-Spot-Color="rgb(233, 30, 99)"
                  data-max-Spot-Color="rgb(96, 125, 139)"
                  data-spot-Color="rgb(96, 125, 139, 0.7)"
                  data-offset="90"
                  data-width="100%"
                  data-height="100px"
                  data-line-Width="1"
                  data-line-Color="rgb(96, 125, 139, 0.7)"
                  data-fill-Color="rgba(96, 125, 139, 0.3)"
                >
                  6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="header">
                <h2>
                  Medical Treatment <small>18% High then last month</small>
                </h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li><a href="javascript:void(0);">Action</a></li>
                      <li><a href="javascript:void(0);">Another action</a></li>
                      <li>
                        <a href="javascript:void(0);">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="stats-report">
                  <div class="stat-item">
                    <h5>Overall</h5>
                    <b class="col-green">84.60%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Montly</h5>
                    <b class="col-green">15.40%</b>
                  </div>
                  <div class="stat-item">
                    <h5>Day</h5>
                    <b class="col-green">5.10%</b>
                  </div>
                </div>
                <div
                  class="sparkline"
                  data-type="line"
                  data-spot-Radius="3"
                  data-highlight-Spot-Color="rgb(233, 30, 99)"
                  data-highlight-Line-Color="#222"
                  data-min-Spot-Color="rgb(233, 30, 99)"
                  data-max-Spot-Color="rgb(120, 184, 62)"
                  data-spot-Color="rgb(120, 184, 62, 0.7)"
                  data-offset="90"
                  data-width="100%"
                  data-height="100px"
                  data-line-Width="1"
                  data-line-Color="rgb(120, 184, 62, 0.7)"
                  data-fill-Color="rgba(120, 184, 62, 0.3)"
                >
                  6,4,7,6,9,3,3,5,7,4,2,3,7,6
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>
                  New Patient List <small>Description text here...</small>
                </h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Another action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Diseases</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Virginia</td>
                        <td>Rose</td>
                        <td>@Rose</td>
                        <td><span class="label label-danger">Fever</span></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Julie</td>
                        <td>Gaylord</td>
                        <td>@Julie</td>
                        <td><span class="label label-info">Cancer</span></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Jacqueline</td>
                        <td>Woods</td>
                        <td>@Woods</td>
                        <td><span class="label label-warning">Lakva</span></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Jonathan</td>
                        <td>Lewis</td>
                        <td>@Jonathan</td>
                        <td><span class="label label-success">Dental</span></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Margaret</td>
                        <td>Griffin</td>
                        <td>@Margaret</td>
                        <td><span class="label label-info">Cancer</span></td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Joseph</td>
                        <td>Hunter</td>
                        <td>@Hunter</td>
                        <td><span class="label label-success">Dental</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
              <div class="header">
                <h2>PATIENT Reports</h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li><a href="javascript:void(0);">Action</a></li>
                      <li><a href="javascript:void(0);">Another action</a></li>
                      <li>
                        <a href="javascript:void(0);">Something else here</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Charts</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Dean Otto</td>
                        <td>
                          <span class="sparkbar">5,8,6,3,5,9,2</span>
                        </td>
                      </tr>
                      <tr>
                        <td>K. Thornton</td>
                        <td>
                          <span class="sparkbar">10,8,9,3,5,8,5</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Kane D.</td>
                        <td>
                          <span class="sparkbar">7,5,9,3,5,2,5</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Jack Bird</td>
                        <td>
                          <span class="sparkbar">10,8,1,3,3,8,7</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Hughe L.</td>
                        <td>
                          <span class="sparkbar">2,8,9,8,5,1,5</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Jack Bird</td>
                        <td>
                          <span class="sparkbar">1,8,2,3,9,8,5</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Hughe L.</td>
                        <td>
                          <span class="sparkbar">10,8,1,3,2,8,5</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
              <div class="header">
                <h2>Visits from countries</h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Another action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <ul class="country-state">
                  <li class="m-b-20">
                    <h4 class="m-b-0">6350</h4>
                    <small>From India</small>
                    <div class="float-right">58%</div>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-success"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 58%"
                      >
                        <span class="sr-only">58% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li class="m-b-20">
                    <h4 class="m-b-0">3250</h4>
                    <small>From UAE</small>
                    <div class="float-right">90%</div>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-inverse"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 90%"
                      >
                        <span class="sr-only">90% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li class="m-b-20">
                    <h4 class="m-b-0">1250</h4>
                    <small>From Australia</small>
                    <div class="float-right">70%</div>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                      >
                        <span class="sr-only">70% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li class="m-b-20">
                    <h4 class="m-b-0">1350</h4>
                    <small>From USA</small>
                    <div class="float-right">70%</div>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                      >
                        <span class="sr-only">70% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <h4 class="m-b-0">1250</h4>
                    <small>From UK</small>
                    <div class="float-right">65%</div>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-success"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 65%"
                      >
                        <span class="sr-only">65% Complete</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
              <div class="header">
                <h2>PATIENT prograss</h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="zmdi zmdi-more-vert"></i
                    ></a>
                    <ul class="dropdown-menu float-right">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Another action</a
                        >
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="waves-effect waves-block"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <ul class="basic-list">
                  <li>Mark Otto <span class="label-danger label">21%</span></li>
                  <li>
                    Jacob Thornton <span class="label-purple label">50%</span>
                  </li>
                  <li>
                    Jacob Thornton<span class="label-success label">90%</span>
                  </li>
                  <li>M. Arthur <span class="label-info label">75%</span></li>
                  <li>
                    Jacob Thornton <span class="label-warning label">60%</span>
                  </li>
                  <li>
                    M. Arthur <span class="label-success label">91%</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock contents_section %}

    {% block extra_scripts %}{% endblock extra_scripts %}

    <div class="color-bg"></div>
    <!-- Jquery Core Js -->
    <script src="{% static 'bundles/libscripts.bundle.js' %}"></script>
    <!-- Lib Scripts Plugin Js -->
    <script src="{% static 'bundles/morphingsearchscripts.bundle.js' %}"></script>
    <!-- morphing search Js -->
    <script src="{% static 'bundles/vendorscripts.bundle.js' %}"></script>
    <!-- Lib Scripts Plugin Js -->

    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- Sparkline Plugin Js -->
    <script src="{% static 'plugins/chartjs/Chart.bundle.min.js' %}"></script>
    <!-- Chart Plugins Js -->

    <script src="{% static 'bundles/mainscripts.bundle.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'bundles/morphingscripts.bundle.js' %}"></script>
    <!-- morphing search page js -->
    <script src="{% static 'js/pages/index.js' %}"></script>
    <script src="{% static 'js/pages/charts/sparkline.min.js' %}"></script>
  </body>
</html>
