{% extends 'base.html' %} {% load static %} {% block contents_section %}

<section class="content profile-page">
  <div class="container-fluid">
    <div class="row clearfix mb-3">
      <div class="col-md-12 p-l-0 p-r-0">
        <section class="boxs-simple">
          <div class="profile-header">
            <div class="profile_info">
              <div class="profile-image">
                <img src="{{doctor.profile_photo.url}}" alt="" />
              </div>
              <h4 class="mb-0">{{doctor.title}} {{doctor.name}}</h4>
              <span class="text-muted col-white">Dentist</span>
              <div class="mt-10">SWIFT HOSPITAL</div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Me</h2>
          </div>
          <div class="body">
            <p class="text-default">
              {{doctor.about_me}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#mypost"
                  >Bio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usersettings"
                  >Settings</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane in active" id="mypost">
                <div class="wrap-reset">
                  <div class="mypost-form">
                    <div class="post-box">
                        <h4 class="">
                          Name
                        </h4>
                        <p class="mb-0">
                          {{doctor.title}} {{doctor.name}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          License Number
                        </h4>
                        <p class="mb-0">
                          {{doctor.license_number}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          Gender
                        </h4>
                        <p class="mb-0">
                          {{doctor.gender}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          Specialty
                        </h4>
                        <p class="mb-0">
                          {{doctor.specialty}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          Hospital
                        </h4>
                        <p class="mb-0">
                          {{doctor.hospital}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          Phone Number
                        </h4>
                        <p class="mb-0">
                          {{doctor.phone_number}}
                        </p>
                    </div>
                    <hr />
                    <div class="post-box">
                        <h4 class="">
                          Email
                        </h4>
                        <p class="mb-0">
                          {{doctor.email}}
                        </p>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="usersettings">
                <div class="body">
                  <h2 class="card-inside-title">Security Settings</h2>
                  <div class="row clearfix">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Username"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Current Password"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="New Password"
                          />
                        </div>
                      </div>
                      <button class="btn btn-raised btn-success btn-sm">
                        Save Changes
                      </button>
                    </div>
                  </div>
                  <h2 class="card-inside-title">Account Settings</h2>
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="First Name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Last Name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <textarea
                            rows="4"
                            class="form-control no-resize"
                            placeholder="Address Line 1"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="City"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="E-mail"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Country"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group checkbox">
                        <label>
                          <input name="optionsCheckboxes" type="checkbox" />
                          <span class="checkbox-material"
                            ><span class="check"></span
                          ></span>
                          Profile Visibility For Everyone
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <button class="btn btn-raised btn-success">
                        Save Changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contents_section %}
