{% extends 'base.html' %} {% load static %} {% block contents_section %}

<section class="content profile-page">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-12 p-l-0 p-r-0">
        <section class="boxs-simple mb-3">
          <div class="profile-header">
            <div class="profile_info">
              <div class="profile-image">
                <img src="{{doctor.profile_photo.url}}" alt="" />
              </div>
              <h4 class="mb-0">
                <strong>{{doctor.title}} {{doctor.name}}</strong>
              </h4>
              <span class="text-muted col-white">{{doctor.specialty}}</span>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Me</h2>
          </div>
          <div class="body">
            <p class="text-default">
              {{doctor.about_me}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#mypost"
                  >Bio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usersettings"
                  >Settings</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane in active" id="mypost">
              <div class="body">
                <div class="wrap-reset">
                  <div class="mypost-list">
                    <div class="post-box">
                      <div>
                        <h4 class="">Title</h4>
                        <p class="mb-0">{{doctor.title}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Name</h4>
                        <p class="mb-0">{{doctor.name}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Licence Number</h4>
                        <p class="mb-0">{{doctor.license_number}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Specialty</h4>
                        <p class="mb-0">{{doctor.specialty}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Hospital</h4>
                        <p class="mb-0">{{doctor.hospital}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Phone Number</h4>
                        <p class="mb-0">{{doctor.phone_number}}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="post-box">
                      <div>
                        <h4 class="">Email</h4>
                        <p class="mb-0">{{doctor.email}}</p>
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
                </div>
              </div>
              <div
                role="tabpanel"
                class="tab-pane active"
                id="usersettings"
                aria-expanded="true"
              >
                <div class="body">
                  
                  <h2 class="card-inside-title">Account Settings</h2>
                  <form name="doctor_form" action="" method="POST">
                  <div class="row clearfix">
                    <div class="col-lg-4 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Title"
                            name="title"
                            id="id_title"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Name"
                            name="name"
                            id="id_name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="License Number"
                            name="license_number"
                            id="id_license_number"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Specialty"
                            name="specialty"
                            id="id_specialty"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control no-resize"
                            placeholder="Hospital"
                            name="hospital"
                            id="id_hospital"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Phone Number"
                            name="phone_number"
                            id="id_phone_number"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="email"
                            class="form-control"
                            placeholder="E-mail"
                            name="email"
                            id="id_email"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-raised btn-success">
                        Save Changes
                      </button>
                    </div>
                  </div>
                  </form>
                  <h2 class="card-inside-title">Security Settings</h2>
                  <form name="password_change_form" action="" method="POST">
                  <div class="row clearfix">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Username"
                            name="username"
                            id="id_username"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Current Password"
                            name="password"
                            id="id_password"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="New Password"
                            name="new_password"
                            id="id_new_password"
                          />
                        </div>
                      </div>
                      <button type="submit" class="btn btn-raised btn-success btn-sm">
                        Save Changes
                      </button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contents_section %}
